#main {
    text-align: center;  
    width: 400px;
    margin: 0 auto;
}

h2 {
    text-align: center;
}

form {
    padding: 15px;
}

.formGroup {
    padding: 10px;
    text-align: left;
}

input {
    padding: 5px 15px;
    width: 200px;
}

input#button {
    width: 70px;
    font-size: 1rem;
    border-radius: 6px;
}

.alert{
    margin:20px auto;
    border-radius:5px;
    padding: 5px 25px;
    box-shadow:0 0 10px 5px rgb(146, 146, 146);
    color: white;
    text-align: left;
}

.danger {
    background-color: rgb(137, 0, 0);
}

.success {
    background-color: rgb(93, 193, 93);
}