.Home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#themeButton {
    position: absolute;
    top: 10px;
    left: 0;
}

#displayPage {
    width: 80%;
}

.greetingMessage > p {
    text-align: center;
    font-weight: 350;
}

#logo > h1:hover {
    cursor: pointer;
}

h1 {
    text-align: center;
}

#buttonGroups {
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}

#buttonGroups > button {
    margin-right: 3rem;
    border-radius: 6px;
    padding: 10px 25px;
    font-size: 0.9rem;
    font-weight: bold;
}

#buttonGroups > button:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 3px solid rgb(0, 119, 255);
    background-color: rgb(248, 248, 248);
    position: fixed;
    top: 0;
    width: 100%;
}

#menu {
    display: flex;
    margin-right: 150px;
}

#menu > li {
    background-color: initial;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

#button > button {
    border-radius: 16px;
    padding: 7px 20px;
    margin-right: 1rem;
    cursor: pointer;
}

.dark {
    background-color: rgb(46, 46, 46);
    color: white;
}