.Home {
    height: 120vh;
    background-color: rgb(235, 235, 235);
}

#themeButton {
    position: absolute;
    top: 10px;
    left: 0;
}

#displayPage {
    width: 80%;
    margin: -40px auto;
    padding-top: 9rem;
}

h1 {
    text-align: center;
}

#buttonGroups {
    width: 50%;
    margin: 2rem auto;
    text-align: center;
}

#buttonGroups > button {
    margin-right: 3rem;
    border-radius: 6px;
    padding: 10px 25px;
    font-size: 0.9rem;
    font-weight: bold;
}

#buttonGroups > button:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid rgb(0, 119, 255);
}

#menu {
    display: flex;
    margin-right: 150px;
}

#menu > li {
    background-color: initial;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

#button {
    position: relative;
}

#button > button {
    position: absolute;
    top: 40px;
    right: 0;
    border-radius: 16px;
    padding: 5px 15px;
}

.dark {
    background-color: rgb(28, 28, 28);
    color: white;
}