footer {
    background-color: rgb(248, 248, 248);
    padding: 1rem;
    border-top: 3px solid rgb(0, 119, 255);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
}

p:first-child > a {
    margin-left: 5px;
    font-weight: bold;
    color: rgb(0, 119, 255);
}

p:first-child > a:hover {
    text-decoration: underline;
}

p:last-child > a {
    font-weight: bold;
}

p:last-child > a:hover {
    text-decoration: underline;
}