.main {
    margin: 0 auto;
    font-weight: bold;
    padding-bottom: 2rem;
}

ul.contactList {
    padding-left: 0;
    margin-top: 1rem;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

li {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

li:nth-child(2n-1) {
    background-color: rgb(101, 147, 255);
}

li:nth-child(2n) {
    background-color: rgb(187, 187, 187);
}

#deleteBtn {
    cursor: pointer;
    font-size: 20px;
}