.main {
    width: 400px;
    margin: 0 auto;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 10px;
}

li {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

li:nth-child(2n-1) {
    background-color: rgb(101, 147, 255);
}

li:nth-child(2n) {
    background-color: rgb(187, 187, 187);
}